#table{
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
	background: gray;
	width: 530px;
    text-align: center;
}
.position{
	width: 50px; 
	height: 50px;
	border: 1px solid black;
}

.white-position{
	background-color: white;
}

.black-position{
	background-color: black;
}

/* CHESS PIECES */

.blackQueen{
    width: 50px;
    background-image: url(../assets/resize.png);
    background-position: 250px 0px; 
}

.blackKing{
    z-index: 3;
    width: 50px;
    background-image: url(../assets/resize.png);
    background-position: 0px 0px;
}

.blackCastle{
    width: 50px;
    background-image: url(../assets/resize.png); 
    background-position: 200px 0px;
}

.blackHorse{
    width: 50px;
    background-image: url(../assets/resize.png); 
    background-position: 150px 0px;
}

.blackElephant{
    width: 50px;
    background-image: url(../assets/resize.png);
    background-position: 100px 0px;
}

.blackPawn{
    width: 50px;
    background-image: url(../assets/resize.png); 
    background-position: 50px 0px;
}

.whiteQueen{
    z-index: 3;
    width: 50px;
    background-image: url(../assets/resize.png); 
    background-position: 250px 50px;
}

.whiteKing{
    z-index: 3;
    width: 50px;
    background-image: url(../assets/resize.png); 
    background-position: 0px 50px;
}

.whiteCastle{
    z-index: 3;
    width: 50px;
    background-image: url(../assets/resize.png); 
    background-position: 200px 50px;
}

.whiteHorse{
    z-index: 3;
    width: 50px;
    background-image: url(../assets/resize.png); 
    background-position: 150px 50px;
}

.whiteElephant{
    z-index: 3;
    width: 50px;
    background-image: url(../assets/resize.png); 
    background-position: 100px 50px;
}

.whitePawn{
    z-index: 3;
    width: 50px;
    background-image: url(../assets/resize.png); 
    background-position: 50px 50px;
}